@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --color-dettabg-50: oklch(0.966 0.008 286.4);
  --color-dettabg-100: oklch(0.923 0.017 286.12);
  --color-dettabg-200: oklch(0.847 0.036 285.64);
  --color-dettabg-300: oklch(0.779 0.054 285.1);
  --color-dettabg-400: oklch(0.702 0.074 285.23);
  --color-dettabg-500: oklch(0.626 0.094 284.07);
  --color-dettabg-600: oklch(0.551 0.11 282.78);
  --color-dettabg-700: oklch(0.475 0.121 281.32);
  --color-dettabg-800: oklch(0.406 0.119 280.32);
  --color-dettabg-900: oklch(0.326 0.094 280.62);
  --color-dettabg-950: oklch(0.286 0.083 280.69);


  --color-dettabgt-50: oklch(0.931 0.016 286.15);
    --color-dettabgt-100: oklch(0.856 0.034 285.68);
    --color-dettabgt-200: oklch(0.72 0.069 284.53);
    --color-dettabgt-300: oklch(0.576 0.105 283.26);
    --color-dettabgt-400: oklch(0.432 0.126 280.85);
    --color-dettabgt-500: oklch(0.286 0.083 280.69);
    --color-dettabgt-600: oklch(0.256 0.073 279.89);
    --color-dettabgt-700: oklch(0.229 0.067 280.91);
    --color-dettabgt-800: oklch(0.202 0.058 279.84);
    --color-dettabgt-900: oklch(0.152 0.046 281.7);
    --color-dettabgt-950: oklch(0.135 0.038 280.05);
}
